@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Bonbon&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Triodion&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Settings */

body {
    width: 100%;
}

li, ol, ul, a {
    list-style: none;
    text-decoration: none;
    z-index:999;
}

